{
  "extends": ["airbnb", "prettier"],
  "env": {
    "jest": true
  },
  "globals": {
    "document": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": false, "optionalDependencies": false, "peerDependencies": false }
    ],

    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  }
}
