{
  "extends": ["airbnb", "prettier"],
  "env": {
    "jest": true
  },
  "globals": {
    "document": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/jsx-props-no-spreading": 0,
    "import/prefer-default-export": 0,
    "react/no-unescaped-entities": 0,
    "import/no-extraneous-dependencies": 0,
    "react/function-component-definition": 0,
    "react/prop-types": 0
  }
}
